<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FcmServerKey" value="AAAAFkb-DUY:APA91bEHswp7abASHbvITRnjaFqCEl9YgkI3ymDcEuBEOzMi-xMvaAlo1MMLhoVZc3YpEyZO-I6sIfr-65bFq2ueG4nYYVm5TsbueWBMxfgJdzDq4VGf6gzKzcIvuWFn1ESSeTTJ71FO" />
    <add key="Smtp.Host" value="smtp.gmail.com" />
    <add key="Smtp.Port" value="587" />
    <add key="Smtp.EnableSsl" value="true" />
    <add key="fromPassword" value="iglesia.nazareth.cm2017" />
    <add key="fromAddress" value="iglesia.nazareth.cm@gmail.com" />
    <add key="fromName" value="Iglesia Comunidad Cristiana Nazareth" />
 
  </appSettings>
</configuration>